@import '../../node_modules/react-vis/dist/style.css';
.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  height: 65px;
  padding: 20px;
  color: #fff;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
.rt-tr:hover {
  cursor: pointer;
}
.rt-th {
  padding: 1em 0 1em 0 !important;
}
svg {
  cursor: grab;
}
svg:active {
  cursor: grabbing;
}
circle {
  fill: rgba(30,136,229,0.8);
}
circle:hover {
  cursor: pointer;
  fill: rgba(30,136,229,0.6);
}
input {
  width: 75%;
  margin: 0 auto;
  height: 4em;
  border-radius: 5px;
  padding: 0 0.5em;
  font-size: 130%;
  border: 2px solid #607d8b;
  margin-top: 0.5em;
}
.button-reset {
  width: 7em;
  height: 3em;
  border-radius: 5px;
  background-color: #607d8b;
  color: #fff;
  font-size: 100%;
  cursor: pointer;
  margin: 0.5em 0 1.5em 0;
}
.button-reset:hover {
  background-color: rgba(96,125,139,0.8);
}
.rv-xy-plot {
  margin: 0 auto;
  margin-bottom: 9em;
}
.rv-xy-plot__inner {
  padding-bottom: 9em;
  padding-left: 0.5em;
}
.rv-xy-plot__axis__tick__text {
  font-size: 100%;
}
.rv-xy-plot__series--bar rect {
  fill: #1e88e5 !important;
}
/* Loading spinner styles */
.loading-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #1e88e5;
  border-radius: 50%;
  animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1e88e5 transparent transparent transparent;
}
.loading-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@-moz-keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
